$BorderValue: solid 5px #000;

:host {
  box-sizing: border-box;
  display: inline-flex;
  height: 200px;
  width: 200px;
  position: relative;

  &.center-row {
    border-top: $BorderValue;
    border-bottom: $BorderValue;
  }

  &.center-column {
    border-left: $BorderValue;
    border-right: $BorderValue;
  }

  &.winning-path {
    background-color: burlywood;
  }

  .main-click-area {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;

    &.claimed {
      font-size: 120px;
      padding-top: 30px;
    }
  }
}
