
  <h2>{{playerModel.playerLetter}}</h2>

  <div class="player-mode">
    <h3>Player Mode</h3>
    <form #f="ngForm" novalidate>
      <ul class="player-mode-list">
        <li>
          <label>
            <input type="radio" name="player-{{playerModel.playerLetter}}-mode"
                   [value]="playerModes.manual" [(ngModel)]="playerModel.playerMode" >
            Manual
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="player-{{playerModel.playerLetter}}-mode"
                   [value]="playerModes.random" [(ngModel)]="playerModel.playerMode" >
            Random
          </label>
        </li>
        <li>
          <label>
            <input type="radio" name="player-{{playerModel.playerLetter}}-mode"
                   [value]="playerModes.runMyCode" [(ngModel)]="playerModel.playerMode" >
            Run my Code
          </label>
        </li>
      </ul>
    </form>
  </div>

  <app-code-editor *ngIf="editorEnabled" [player]="playerModel"></app-code-editor>

