
  <h2>{{playerLetter}}</h2>

  <div class="player-mode">
    <h3>Player Mode</h3>
    <ul class="player-mode-list">
      <li>
        <label>
          <input type="radio" name="player-{{playerLetter}}-mode">
          Manual
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="player-{{playerLetter}}-mode">
          Random
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="player-{{playerLetter}}-mode">
          Run my Code
        </label>
      </li>
    </ul>
  </div>

  <app-code-editor></app-code-editor>

