:host {
  min-width: 200px;
  flex-grow: 1;
  border: 2px solid black;

  h2 {
    font-size: 64px;
    margin-top: 24px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 24px;
    margin-bottom: 0;
  }

  &.active {
    background-color: aqua;
  }

  div.player-mode {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;

    ul.player-mode-list {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 18px;
        padding-top: 5px;
      }

    }
  }

  .code-manager {
    margin-bottom: 10px;
  }
}
