:host {
  .mat-dialog-content {
    width: 800px;
    height: 300px;

    #number-of-seconds {
      width: 300px;
    }
  }

  .mat-dialog-actions {
    .mat-button {
      margin-right: 10px;
    }
  }
}
