<h1 class="mat-dialog-title primary-color" md-dialog-title="Game Settings" id="md-dialog-title-1">Welcome to Robo-Tac-Toe!!</h1>
<div class="mat-dialog-content" md-dialog-content="">


</div>

<div class="mat-dialog-actions" md-dialog-actions="">
  <button class="mat-button" md-raised-button color="accent" [md-dialog-close]="" type="button" aria-label="Close">
    <span class="mat-button-wrapper">Close</span>
    <div class="mat-button-ripple mat-ripple" md-ripple=""></div>
    <div class="mat-button-focus-overlay"></div>
  </button>

  <md-checkbox id="do-not-show" [(ngModel)]="doNotShowSplash">Do not show on start up</md-checkbox>
</div>
