<div id="winner-announcement" *ngIf="controller.boardModel.gameWon">
  Won by {{controller.boardModel.gameWonBy.playerLetter}}
</div>

<div id="tied-announcement" *ngIf="controller.boardModel.gameTied">
  Game Tied
</div>

<div id="reset" *ngIf="controller.boardModel.gameOver">
  <a md-raised-button class="btn-reset" color="accent" href="#" (click)="controller.resetGame()">
    Reset
  </a>
</div>

<div id="start-play" *ngIf="showStartPlay">
  <a md-raised-button class="btn-start-play" color="primary" href="#" (click)="controller.gameStart()">
    Start
  </a>
</div>
