<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">

  <div id="header-offset"></div>
  <md-toolbar color="primary" id="header">
    <h1>
      {{title}}!!
    </h1>

    <app-app-settings></app-app-settings>
  </md-toolbar>

  <div id="playing-area">
    <app-player-area [active]="player1Active" [playerModel]="controller.player1" [gameController]="controller"></app-player-area>
    <app-board [boardModel]="controller.boardModel" ></app-board>
    <app-player-area [active]="player2Active" [playerModel]="controller.player2" [gameController]="controller"></app-player-area>
  </div>

  <div id="footer">
    <app-footer-controls [controller]="controller"></app-footer-controls>
  </div>
  <div id="footer-offset"></div>
</div>
