
#header {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  //h1 {
  //  justify-self: center;
  //}

  app-app-settings {
    position: absolute;
    right: 10px;
    margin-top: 10px;
  }
}

#playing-area {
  display: flex;

  app-board {

  }
}

