
#header {
  display: flex;
  position: relative;
  align-content: center;
  justify-content: center;
  //h1 {
  //  justify-self: center;
  //}

  app-app-settings {
    position: absolute;
    right: 10px;
    margin-top: 10px;
  }
}

#playing-area {
  display: flex;

  app-board {

  }
}

#footer {
  display: flex;
  margin-top: 10px;
  justify-content: center;

  #winner-announcement, #tied-announcement {
    font-size: 80px;
  }

  #reset {
    padding: 18px;

    .btn-reset {
      height: 60px;
      font-size: 40px !important;
      padding-top: 10px;
    }
  }

}

