<div class="row">
  <app-board-square row="1" col="1"></app-board-square>
  <app-board-square class="center-column" row="1" col="2"></app-board-square>
  <app-board-square row="1" col="3"></app-board-square>
</div>

<div class="row">
  <app-board-square class="center-row" row="2" col="2"></app-board-square>
  <app-board-square class="center-column center-row" row="2" col="3"></app-board-square>
  <app-board-square class="center-row" row="2" col="1"></app-board-square>
</div>

<div class="row">
  <app-board-square row="3" col="1"></app-board-square>
  <app-board-square class="center-column" row="3" col="2"></app-board-square>
  <app-board-square row="3" col="3"></app-board-square>
</div>
