/*
Color palette created with
https://material.io/color/#!/?view.left=0&view.right=0&primary.color=546E7A&secondary.color=ff9800
and http://mcg.mbitson.com/#!?roboprimarypalette=%23546e7a&robosecondarypalette=%23ff9800&themename=mcgtheme
*/

@import '../node_modules/@angular/material/theming';

@include mat-core();

$md-roboprimarypalette: (
  50 : #eaeeef,
  100 : #ccd4d7,
  200 : #aab7bd,
  300 : #879aa2,
  400 : #6e848e,
  500 : #546e7a,
  600 : #4d6672,
  700 : #435b67,
  800 : #3a515d,
  900 : #293f4a,
  A100 : #95d9ff,
  A200 : #62c7ff,
  A400 : #2fb5ff,
  A700 : #15acff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-robosecondarypalette: (
  50 : #fff3e0,
  100 : #ffe0b3,
  200 : #ffcc80,
  300 : #ffb74d,
  400 : #ffa726,
  500 : #ff9800,
  600 : #ff9000,
  700 : #ff8500,
  800 : #ff7b00,
  900 : #ff6a00,
  A100 : #ffffff,
  A200 : #fff7f2,
  A400 : #ffd6bf,
  A700 : #ffc5a6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$custom-theme-primary: mat-palette($md-roboprimarypalette);
$custom-theme-accent: mat-palette($md-robosecondarypalette, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);
